.content
  .container-fluid
    .row
      .col-lg-12.col-md-12
        .card
          .card-header.card-header-primary
            %h4.card-title People list
            %p.card-category List of registered people
          .card-body
            .table-responsive
              %table.table-sm.table.table-hover.table-striped
                %thead.text-primary
                  %tr
                    %th Title
                    %th First name
                    %th Last name
                    %th Telephone
                    %th Mobile phone
                    %th Job title
                    %th DOB
                    %th Gender
                    %th Keywords
                    %th Notes
                    %th
                    %th
                    %th


                %tbody
                  - @people.each do |person|
                    %tr
                      %td= person.title
                      %td= person.first_name
                      %td= person.last_name
                      %td= person.telephone
                      %td= person.mobile_phone
                      %td= person.job_title
                      %td= person.date_of_birth
                      %td= person.gender
                      %td= person.keywords
                      %td= person.notes
                      %td.text-right.td-actions
                        = link_to person, class: "btn btn-info" do |f|
                          %i.material-icons person
                      %td.text-right.td-actions= link_to 'Edit', edit_person_path(person)
                      %td.text-right.td-actions= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

            %br

            = link_to 'New person', new_person_path, class: "btn btn-outline-success my-2 my-sm-0"