
.col-md-12
  .card.bmd-card-raised.card-form-horizontal.mt-0.mb-1
    .card-body.align-items-center.text-center{style:"padding:1rem;"}
      = form_with(url: pages_jobs_path(q: "programming"), method: 'get', data: { controller: 'places', action: 'google-maps-callback@window->places#initMap'  }) do |f|
        .row.my-search{style: "justify-content: center;align-items: baseline;"}
          = f.hidden_field :category, value: params[:category] if params[:category] && params[:category] != ""
          .form-group.bmd-form-group.m-0.col-md-4
            -# = f.label :key_search, 'Search for a key search '
            = f.search_field :what, placeholder: 'What job title, kewords, or company', class: 'form-control'
          .form-group.bmd-form-group.m-0.col-md-4
            -# = f.label :location, 'Search for a location '
            = f.search_field :location, placeholder: 'Where London, UK, Post code', class: 'form-control'
          -# .form-group.col-md-4.py-2.px-0
          -#   = label :skills, 'Search for a skills '
          -#   = search_field :skills, nil, placeholder: 'Eg. full stack', class: 'form-control'
          -# .form-group.col-md-4.py-2.px-0
          -#   = label :job_type, 'Search for a job type '
          -#   = search_field :job_type, nil, placeholder: 'Eg. full', class: 'form-control'
          .form-group.col-md-4
            = f.button 'search', class: 'btn btn-info btn-block', 'data-action': 'click->places#search' do
              %i.material-icons search
              Search job