
// 
.sidebar{"data-background-color" => "white", "data-color" => "purple", "data-image" => "#{asset_pack_path 'sidebar-1.jpg'}"}
  /Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
  / Tip 2: you can also add an image using data-image tag
  .logo
    %a.simple-text.logo-normal{:href => "http://www.creative-tim.com"}
      Creative Tim
  .sidebar-wrapper
    %ul.nav
      %li.nav-item                
        %a.nav-link{:href => "/pages/jobs"}
          %i.material-icons bubble_chart
          %p Jobs Offerts
      %li{class: "#{controller.class == Admin::DashboardController ? 'nav-item active' : 'nav-item'}"}
        %a.nav-link{:href => "/"}
          %i.material-icons dashboard
          %p Dashboard
      %li{class: "#{controller.class == PeopleController ? 'nav-item active' : 'nav-item'}"}
        %a.nav-link{:href => "/people"}
          %i.material-icons engineering
          %p Job seekers
      %li{class: "#{ controller.class == AddressesController ? 'nav-item active' : 'nav-item'}"}
        %a.nav-link{:href => "/addresses"}
          %i.material-icons location_ons
          %p Addresses
      %li.nav-item{class: "#{ controller.class == CompaniesController ? 'nav-item active' : 'nav-item'}"}
        %a.nav-link{:href => "/companies"}
          %i.material-icons library_books
          %p Companies
      
      %li.nav-item
        %a.nav-link{:href => "/"}
          %i.material-icons notifications
          %p Notifications
      %li.nav-item
        %a.nav-link{:href => "/"}
          %i.material-icons language
          %p RTL Support
      %li.nav-item.active-pro
        %a.nav-link{:href => "/"}
          %i.material-icons unarchive
          %p Upgrade to PRO

