.page-header.header-filter.clear-filter.purple-filter
  .container
    -# logo
    .row
      .col-md-8.ml-auto.mr-auto
        %h2.title.text-left Connecting great jobs to great candidates
    = render 'pages/shared/search'

.main.main-raised
  -# .no-child-div.pl-5.pr-5.margin-top-minus
  = render 'pages/shared/submenu', locals: { categories: @categories }
  - if @categories
    -# = "Kategorie" + @categories

  .container
    .row
      .col-lg-12.mt-5.mx-auto
        
  .container
    .row
      .col-lg-12.mt-5


        - if @info.present?
          - results = @info
        

          - unless results.nil?
          
            - results.each do |job|
              -# .card
              -#   .card-body
              -#     %h3.title.card-category.text-primary
              -#       %i.material-icons work
              -#       = job['title']
              -#     %h4.card-title
              -#       %a(href="#{job['url']}")
              -#         = job['company']['display_name']
              -#     %h5= job['location']['display_name']
              -#     %p= job['description'].truncate(500).html_safe

              -#     .card-stats
              -#       .author
              -#         = job['created_at']
              -#         = link_to job['title'], show_job_path(job['id'])
              -#       .stats.ml-auto
              -#         .material-icons
              -#           %a{href: "", title: "Save job"}favorite
              -#         .material-icons share


            .card
              .card-header.card-header-primary
                %h4.card-title Search results
                %p.card-category List of jobs
              .card-body.px-3
                .table.table-responsive
                  %table.table-sm.table.table-streapd.table-hover.display#table_id
                    %thead.text-primary
                      %tr
                        %th
                    %tbody
                      - results.each do |job|
                        %tr
                          %td.d-md-flex.search-list-in-table
                            .col-md-9.px-0.mb-3
                              %h3.title.mb-3.text-primary= job['title'].html_safe
                              .d-inline-block.title
                                %span{title: "latitude: #{job['latitude']}, longitude: #{job['longitude']}"}
                                  %span.material-icons location_on
                                  %span.align-top= (job['location']['display_name'])
                                  %span.align-top
                                    |
                                    %br/
                                %span.material-icons business
                                %span.align-top= job['company']['display_name']
                                %span.align-top
                                  |
                                  %br/
                                %span.material-icons access_time
                                %span.align-top= job['contract_type'] || "contract type not specified"
                                %span.align-top
                                  |
                                  %br/
                              .mt-5= (job['description']).html_safe
                            
                              %img.img-fluid.d-s-none{style:"max-width:5rem;"}(src="#{job['company_logo']}" alt="")/
                              %a(href="#" style="padding:1rem 1rem 1rem 0;")
                                %strong.mt-5.badge.badge-danger= job['created_at'] || DateTime.parse(job['created']).strftime("%d-%m-%Y")
                            .col-md-3.px-0
                              .d-block
                                = link_to 'Vie & apply', job['redirect_url'], class: 'btn btn-primary btn-block'
                                -# %a(href="#{job['id']}").btn.btn-primary.btn-block 
                              .d-block.w-100
                                .d-inline-block{style:"width:49%;"}
                                  .btn.btn-primary.btn-sm.btn-block Save
                                .d-inline-block{style:"width:49%;"}
                                  .btn.btn-primary.btn-sm.btn-block 1-click applay





          -# - @info.each do |job|

          -# - if job['company_logo']
            .card-header-image.pb-5{style:"overflow: hidden;"}
-#           - @info.each do |job|




-#             .card
-#               .card-body
-#                 %h3.title.card-category.text-primary
-#                   %i.material-icons work
-#                   = job['title']
-#                 %h4.card-title
-#                   %a(href="#{job['url']}")
-#                     = job['company']
-#                 %h5= job['location']
-#                 %p= job['description'].truncate(500).html_safe

-#                 .card-stats
-#                   .author
-#                     = job['created_at']
-#                     = link_to job['title'], show_job_path(job['id'])
-#                   .stats.ml-auto
-#                     .material-icons
-#                       %a{href: "", title: "Save job"}favorite
-#                     .material-icons share
        

-#                 -# %img{alt:"company_logo", style:"max-width:5rem;"}(src="#{job['company_logo']}")/
-#             .card-header.card-header-info
-#               %ul.nav.nav-tabs
-#                 %li.nav-item
-#                   %a.nav-link.active(href="#0") Active
-#                 %li.nav-item
-#                   %a.nav-link(href="#0") link
-#             .card-body
-#               %h3
-#                 Type
-#                 = job['type']
-#               %a{href: "#{job['company_url']}"}= job['company']
-#               %h3
-#                 Location:
-#                 = job['location']
-#               %h5.card-category.card-category-social
-#                 %i.material-icons work
-#               %h4.card-title

-#               .card-text
-#                 = (job['description'].truncate(500)).html_safe
-#               %a.btn.btn-primary(href="#{job['url']}") Web
-#               .card-stats

-#                 .author
-#                 .stats.ml-auto
-#                   %i.material-icons today
-#                   =raw job['created_at']





        = results = @info['results']
          - unless results.nil?
          
            - results.each do |job|
              .card
                .card-body
                  %h3.title.card-category.text-primary
                    %i.material-icons work
                    = job['title']
                  %h4.card-title
                    %a(href="#{job['url']}")
                      = job['company']['display_name']
                  %h5= job['location']['display_name']
                  %p= job['description'].truncate(500).html_safe

                  .card-stats
                    .author
                      = job['created_at']
                      = link_to job['title'], show_job_path(job['id'])
                    .stats.ml-auto
                      .material-icons
                        %a{href: "", title: "Save job"}favorite
                      .material-icons share
-#           .card.text-left
        