.content
  .container-fluid
    .row
      .col-lg-12.col-md-12
        .card
          .card-header.card-header-primary
            %h4.card-title Companies
            %p.card-category List of registered companies
          .card-body
            .table-responsive
              %table.table-sm.table.table-hover.table-striped
                %thead.text-primary
                  %tr
                    %th Name
                    %th Telephone
                    %th Fax
                    %th Website
                    %th 
                    %th

                %tbody
                  - @companies.each do |companies|
                    %tr
                      %td= companies.name
                      %td= companies.telephone
                      %td= companies.fax
                      %td= link_to companies.website, companies.website
                      %td
                        = actions_in_row(companies, 'companies').html_safe
              %br

              = link_to 'New company', new_company_path, class: "btn btn-primary"