.content
  .container-fluid
    .row
      .col-lg-12.col-md-12
        .card
          .card-header.card-header-primary
            %h4.card-title Listing addresses
            %p.card-category List of registered people
          .card-body
            .table-responsive
              %table.table-sm.table.table-hover.table-striped.display#table_id
                %thead.text-primary
                  %tr
                    %th City
                    %th Street
                    %th Street1
                    %th Street2
                    %th Post code
                    %th

                %tbody
                  - @addresses.each do |address|
                    %tr
                      %td= address.city
                      %td= address.street
                      %td= address.street1
                      %td= address.street2
                      %td= address.post_code
                      -# %td= link_to 'Show', address
                      -# %td= link_to 'Edit', edit_address_path(address)
                      %td
                        = actions_in_row(address, 'addresses').html_safe
              %br

              = link_to 'New Address', new_address_path
