!!!
/
  \=========================================================
  Material Kit - v2.0.7
  \=========================================================
  
  Product Page: https://www.creative-tim.com/product/material-kit
  Copyright 2020 Creative Tim (https://www.creative-tim.com/)
  
  Coded by Creative Tim
  
  \=========================================================
%html{:lang => "en"}
%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:charset => "utf-8"}/
  %link{:href => "./assets/img/apple-icon.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
  %link{:href => "./assets/img/favicon.png", :rel => "icon", :type => "image/png"}/
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %title
    Material Kit by Creative Tim
  %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
  / Fonts and icons
  %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", :rel => "stylesheet"}/
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_pack_tag 'application'
  -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
%body.index-page.sidebar-collapse#main-background
  %nav#sectionsNav.navbar.navbar-transparent.navbar-color-on-scroll.fixed-top.navbar-expand-lg{"color-on-scroll" => "100"}
    .container
      .navbar-translate
        %a.navbar-brand{:href => "https://demos.creative-tim.com/material-kit/index.html"}
          Material Kit
          %i.fa.fa-twitter
        %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.navbar-toggler-icon
          %span.navbar-toggler-icon
          %span.navbar-toggler-icon
      .collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.dropdown.nav-item
            %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
              %i.material-icons apps
              Components
            .dropdown-menu.dropdown-with-icons
              %a.dropdown-item{:href => "./index.html"}
                %i.material-icons layers
                All Components
              %a.dropdown-item{:href => ""}
                %i.material-icons content_paste
                Documentation
          %li.nav-item
            %a.nav-link{:href => "javascript:void(0)", :onclick => "scrollToDownload()"}
              %i.material-icons cloud_download
              Download
          %li.nav-item
            %a.nav-link{:href => "https://www.creative-tim.com/product/material-kit-pro", :target => "_blank"}
              %i.material-icons unarchive
              Upgrade to PRO

          %li.nav-item
            %a.nav-link{"data-original-title" => "Follow us on Twitter", "data-placement" => "bottom", :href => "/companies", :rel => "tooltip", :target => "_blank", :title => "Enterprise"} 
              Enterprise
              %i.fa.fa-twitter
          %li.nav-item
            %a.nav-link{"data-original-title" => "Follow us on Twitter", "data-placement" => "bottom", :href => "/addresses", :rel => "tooltip", :target => "_blank", :title => "Addresses"}
              Addresses
              %i.fa.fa-twitter
          %li.nav-item
            %a.nav-link{"data-original-title" => "Follow us on Twitter", "data-placement" => "bottom", :href => "/people", :rel => "tooltip", :target => "_blank", :title => "People"}
              People
              %i.fa.fa-twitter
          %li.nav-item
            %a.nav-link{"data-original-title" => "Follow us on Twitter", "data-placement" => "bottom", :href => "https://twitter.com/CreativeTim", :rel => "tooltip", :target => "_blank", :title => ""}
              %i.fa.fa-twitter
          %li.nav-item
            %a.nav-link{"data-original-title" => "Like us on Facebook", "data-placement" => "bottom", :href => "https://www.facebook.com/CreativeTim", :rel => "tooltip", :target => "_blank", :title => ""}
              %i.fa.fa-facebook-square
          %li.nav-item
            %a.nav-link{"data-original-title" => "Follow us on Instagram", "data-placement" => "bottom", :href => "https://www.instagram.com/CreativeTimOfficial", :rel => "tooltip", :target => "_blank", :title => ""}
              %i.fa.fa-instagram
  .page-header.header-filter.clear-filter.purple-filter#moje-tlo{"data-parallax" => "true"}
    .container
      .row
        .col-md-8.ml-auto.mr-auto
          .brand
            %h1 Material Kit.
            %h3 A Badass Bootstrap 4 UI Kit based on Material Design.
  .main.main-raised
    .section.section-basic
      .container
        .title
          %h2 Basic Elements
        / buttons
        #buttons.cd-section
          .title
            %h3
              Buttons
              %br/
              %small Pick your style
          .row
            .col-md-8.mx-auto
              %button.btn.btn-primary Default
              %button.btn.btn-primary.btn-round Round
              %button.btn.btn-primary.btn-round
                %i.material-icons favorite
                With Icon
              %button.btn.btn-primary.btn-fab.btn-round
                %i.material-icons favorite
              %button.btn.btn-primary.btn-link Simple
          .title
            %h3
              %small Pick your size
          .row
            .col-md-8.mx-auto
              %button.btn.btn-primary.btn-sm Small
              %button.btn.btn-primary Regular
              %button.btn.btn-primary.btn-lg Large
          .title
            %h3
              %small Pick your color
          .row
            .col-md-10.ml-auto
              %button.btn Default
              %button.btn.btn-primary Primary
              %button.btn.btn-info Info
              %button.btn.btn-success Success
              %button.btn.btn-warning Warning
              %button.btn.btn-danger Danger
              %button.btn.btn-rose Rose
        / end buttons
        .space-50
        / inputs
        #inputs
          .title
            %h3 Inputs
          .row
            .col-lg-3.col-sm-4
              .form-group.has-default
                %input.form-control{:placeholder => "Regular", :type => "text"}/
            .col-lg-3.col-sm-4
              .form-group
                %label.bmd-label-floating{:for => "exampleInput1"} With Floating Label
                %input#exampleInput1.form-control{:type => "email"}/
                %span.bmd-help We'll never share your email with anyone else.
            .col-lg-3.col-sm-4
              .form-group.has-success
                %label.bmd-label-floating{:for => "exampleInput2"} Success input
                %input#exampleInput2.form-control{:type => "text"}/
                %span.form-control-feedback
                  %i.material-icons done
            .col-lg-3.col-sm-4
              .form-group.has-danger
                %label.bmd-label-floating{:for => "exampleInput3"} Error input
                %input#exampleInput3.form-control{:type => "email"}/
                %span.form-control-feedback
                  %i.material-icons clear
            .col-lg-3.col-sm-4
              .form-group
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons group
                  %input.form-control{:placeholder => "With Material Icons", :type => "text"}/
            .col-lg-3.col-sm-4
              .form-group
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.fa.fa-group
                  %input.form-control{:placeholder => "With Font Awesome Icons", :type => "text"}/
        / end inputs
        .space-70
        / textarea/checkbox/radio/toggle
        #checkRadios
          .row
            .col-lg-3.col-md-4.col-sm-6
              .title
                %h3 Checkboxes
              .form-check
                %label.form-check-label
                  %input.form-check-input{:type => "checkbox", :value => ""}/
                  Unchecked
                  %span.form-check-sign
                    %span.check
              .form-check
                %label.form-check-label
                  %input.form-check-input{:checked => "checked", :type => "checkbox", :value => ""}/
                  Checked
                  %span.form-check-sign
                    %span.check
              .form-check.disabled
                %label.form-check-label
                  %input.form-check-input{:disabled => "disabled", :type => "checkbox", :value => ""}/
                  Disabled unchecked
                  %span.form-check-sign
                    %span.check
              .form-check.disabled
                %label.form-check-label
                  %input.form-check-input{:checked => "checked", :disabled => "disabled", :type => "checkbox", :value => ""}/
                  Disabled checked
                  %span.form-check-sign
                    %span.check
            .col-lg-3.col-md-4.col-sm-6
              .title
                %h3 Radio Buttons
              .form-check
                %label.form-check-label
                  %input#exampleRadios1.form-check-input{:name => "exampleRadios", :type => "radio", :value => "option1"}/
                  Radio is off
                  %span.circle
                    %span.check
              .form-check
                %label.form-check-label
                  %input#exampleRadios2.form-check-input{:checked => "checked", :name => "exampleRadios", :type => "radio", :value => "option2"}/
                  Radio is on
                  %span.circle
                    %span.check
              .form-check.disabled
                %label.form-check-label
                  %input#exampleRadios11.form-check-input{:disabled => "disabled", :name => "exampleRadios1", :type => "radio", :value => "option1"}/
                  Disabled radio is off
                  %span.circle
                    %span.check
              .form-check.disabled
                %label.form-check-label
                  %input#exampleRadios21.form-check-input{:checked => "checked", :disabled => "disabled", :name => "exampleRadio1", :type => "radio", :value => "option2"}/
                  Disabled radio is on
                  %span.circle
                    %span.check
            .col-lg-3.col-md-4.col-sm-6
              .title
                %h3 Toggle Buttons
              .togglebutton
                %label
                  %input{:checked => "checked", :type => "checkbox"}/
                  %span.toggle
                  Toggle is on
              .togglebutton
                %label
                  %input{:type => "checkbox"}/
                  %span.toggle
                  Toggle is off
        .space-70
        / progress/sliders
        #progress
          .row
            .col-md-6
              .title
                %h3 Progress Bars
              .progress.progress-line-primary
                .progress-bar.progress-bar-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 30%;"}
                  %span.sr-only 60% Complete
              .progress.progress-line-info
                .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
                  %span.sr-only 60% Complete
              .progress.progress-line-danger
                .progress-bar.progress-bar-success{:style => "width: 35%"}
                  %span.sr-only 35% Complete (success)
                .progress-bar.progress-bar-warning{:style => "width: 20%"}
                  %span.sr-only 20% Complete (warning)
                .progress-bar.progress-bar-danger{:style => "width: 10%"}
                  %span.sr-only 10% Complete (danger)
            .col-md-6
              .title
                %h3 Pagination
              %ul.pagination.pagination-primary
                /
                  color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 1
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} ...
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 5
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 6
                %li.active.page-item
                  %a.page-link{:href => "javascript:void(0);"} 7
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 8
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 9
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} ...
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 12
              %ul.pagination.pagination-info
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} prev
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 1
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 2
                %li.active.page-item
                  %a.page-link{:href => "javascript:void(0);"} 3
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 4
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} 5
                %li.page-item
                  %a.page-link{:href => "javascript:void(0);"} next
        / end progress
        / sliders
        #sliders
          .row
            .col-md-6
              .title
                %h3 Sliders
              #sliderRegular.slider
              #sliderDouble.slider.slider-info
            .col-md-6.ml-auto
              .title
                %h3 Badges
              %span.badge.badge-pill.badge-secondary Default
              %span.badge.badge-pill.badge-primary Primary
              %span.badge.badge-pill.badge-info Info
              %span.badge.badge-pill.badge-success Success
              %span.badge.badge-pill.badge-warning Warning
              %span.badge.badge-pill.badge-danger Danger
              %span.badge.badge-pill.badge-rose Rose
        / end sliders
    #navigation.section.section-navbars.cd-section
      .container
        / menu
        .row
          .col-md-6
            .title
              %h3 Menu
            %nav.navbar.navbar-expand-lg.bg-primary
              .container
                .navbar-translate
                  %a.navbar-brand{:href => "javascript:;"} Menu
                  %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only Toggle navigation
                    %span.navbar-toggler-icon
                    %span.navbar-toggler-icon
                    %span.navbar-toggler-icon
                .collapse.navbar-collapse
                  %ul.navbar-nav
                    %li.active.nav-item
                      %a.nav-link{:href => "javascript:;"} Link
                    %li.nav-item
                      %a.nav-link{:href => "javascript:;"} Link
                    %li.dropdown.nav-item
                      %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "javascript:;"} Dropdown
                      .dropdown-menu
                        %h6.dropdown-header Dropdown header
                        %a.dropdown-item{:href => "javascript:;"} Action
                        %a.dropdown-item{:href => "javascript:;"} Another action
                        %a.dropdown-item{:href => "javascript:;"} Something else here
                        .dropdown-divider
                        %a.dropdown-item{:href => "javascript:;"} Separated link
                        .dropdown-divider
                        %a.dropdown-item{:href => "javascript:;"} One more separated link
          .col-md-6
            .title
              %h3 Menu with Icons
            %nav.navbar.navbar-expand-lg.bg-info
              .container
                .navbar-translate
                  %a.navbar-brand{:href => "javascript:;"} Icons
                  %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only Toggle navigation
                    %span.navbar-toggler-icon
                    %span.navbar-toggler-icon
                    %span.navbar-toggler-icon
                .collapse.navbar-collapse
                  %ul.navbar-nav.ml-auto
                    %li.nav-item
                      %a.nav-link{:href => "javascript:;"}
                        %i.material-icons email
                    %li.nav-item
                      %a.nav-link{:href => "javascript:;"}
                        %i.material-icons face
                    %li.dropdown.nav-item
                      %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "javascript:;"}
                        %i.material-icons settings
                        %b.caret
                      .dropdown-menu.dropdown-menu-right
                        %h6.dropdown-header Dropdown header
                        %a.dropdown-item{:href => "javascript:;"} Action
                        %a.dropdown-item{:href => "javascript:;"} Another action
                        %a.dropdown-item{:href => "javascript:;"} Something else here
                        .dropdown-divider
                        %a.dropdown-item{:href => "javascript:;"} Separated link
                        .dropdown-divider
                        %a.dropdown-item{:href => "javascript:;"} One more separated link
        / end menu
        .title
          %h3 Navigation
      / navbar
      #navbar
        .navigation-example
          / rose navbar with search form
          %nav.navbar.navbar-expand-lg.bg-rose
            .container
              .navbar-translate
                %a.navbar-brand{:href => "#0"} Brand
                %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
              .collapse.navbar-collapse
                %ul.navbar-nav
                  %li.nav-item.active
                    %a.nav-link{:href => "javascript:;"} link
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"} link
                %form.form-inline.ml-auto
                  .form-group.has-white
                    %input.form-control{:placeholder => "Search", :type => "text"}/
                  %button.btn.btn-white.btn-raised.btn-fab.btn-round{:type => "submit"}
                    %i.material-icons search
          / end rose navbar
          / info navbar
          %nav.navbar.navbar-expand-lg.bg-info
            .container
              .navbar-translate
                %a.navbar-brand{:href => "#0"} Info Color
                %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
              .collapse.navbar-collapse
                %ul.navbar-nav.ml-auto
                  %li.active.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      Discover
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      Profile
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      Settings
          / end info navbar
          / primary navbar
          %nav.navbar.navbar-expand-lg.bg-primary
            .container
              .navbar-translate
                %a.navbar-brand{:href => "#0"} Primary Color
                %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
              .collapse.navbar-collapse
                %ul.navbar-nav.ml-auto
                  %li.active.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      %i.material-icons explore
                      Discover
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      %i.material-icons account_circle
                      Profile
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      %i.material-icons settings
                      Settings
          / end primary navbar
          / inverse navbar with notifications
          %nav.navbar.navbar-inverse.navbar-expand-lg.bg-dark{:role => "navigation-demo"}
            .container
              / Brand and toggle get grouped for better mobile display
              .navbar-translate
                %a.navbar-brand{:href => "#0"} Navbar with notification
                %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
              / Collect the nav links, forms, and other content for toggling
              .collapse.navbar-collapse
                %ul.navbar-nav.ml-auto
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      Discover
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      Wishlist
                  %li.nav-item
                    %a.btn.btn-rose.btn-raised.btn-fab.btn-round{"data-toggle" => "dropdown", :href => "javascript:;"}
                      %i.material-icons email
                  %li.dropdown.nav-item
                    %a.profile-photo.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "javascript:;"}
                      .profile-photo-small
                        %img.rounded-circle.img-fluid{:alt => "Circle Image", :src => "#{asset_pack_path 'avatar.jpg'}"}/
                    .dropdown-menu.dropdown-menu-right
                      %h6.dropdown-header Dropdown header
                      %a.dropdown-item{:href => "javascript:;"} Me
                      %a.dropdown-item{:href => "javascript:;"} Settings and other stuff
                      %a.dropdown-item{:href => "javascript:;"} Sign out
              / /.navbar-collapse
            / /.container
          / end inverse navbar
          / default navbar with profile photo
          %nav.navbar.navbar-default.navbar-expand-lg{:role => "navigation-demo"}
            .container
              / Brand and toggle get grouped for better mobile display
              .navbar-translate
                %a.navbar-brand{:href => "#0"} Navbar with profile
                %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
              / Collect the nav links, forms, and other content for toggling
              .collapse.navbar-collapse
                %ul.navbar-nav.ml-auto
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      Discover
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      Wishlist
                  %li.nav-item
                    %a.btn.btn-rose.btn-raised.btn-round{"data-toggle" => "dropdown", :href => "javascript:;"}
                      Register
              / /.navbar-collapse
            / /.container
          / end default navbar
          / transparent navbar
          %nav.navbar.navbar-transparent.navbar-expand-lg
            .container
              .navbar-translate
                %a.navbar-brand{:href => "javascript:;"} Transparent
                %button.ml-auto.navbar-toggler{"data-target" => "#example-navbar-transparent", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
                  %span.navbar-toggler-icon
              #example-navbar-transparent.collapse.navbar-collapse
                %ul.navbar-nav.ml-auto
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      %i.fa.fa-facebook-square
                      Facebook
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      %i.fa.fa-twitter
                      Twitter
                  %li.nav-item
                    %a.nav-link{:href => "javascript:;"}
                      %i.fa.fa-instagram
                      Instagram
          / end transparent navbar
      / end navbar
    .section.section-tabs
      .container
        / nav tabs
        #nav-tabs
          %h3 Navigation Tabs
          .row
            .col-md-6
              %h3
                %small Tabs with Icons on Card
              / Tabs with icons on Card
              .card.card-nav-tabs
                .card-header.card-header-primary
                  / colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger"
                  .nav-tabs-navigation
                    .nav-tabs-wrapper
                      %ul.nav.nav-tabs{"data-tabs" => "tabs"}
                        %li.nav-item
                          %a.nav-link.active{"data-toggle" => "tab", :href => "#profile"}
                            %i.material-icons face
                            Profile
                        %li.nav-item
                          %a.nav-link{"data-toggle" => "tab", :href => "#messages"}
                            %i.material-icons chat
                            Messages
                        %li.nav-item
                          %a.nav-link{"data-toggle" => "tab", :href => "#settings"}
                            %i.material-icons build
                            Settings
                .card-body
                  .tab-content.text-center
                    #profile.tab-pane.active
                      %p I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                    #messages.tab-pane
                      %p I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                    #settings.tab-pane
                      %p I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.
              / End Tabs with icons on Card
            .col-md-6
              %h3
                %small Tabs on Plain Card
              / Tabs on Plain Card
              .card.card-nav-tabs.card-plain
                .card-header.card-header-danger
                  / colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger"
                  .nav-tabs-navigation
                    .nav-tabs-wrapper
                      %ul.nav.nav-tabs{"data-tabs" => "tabs"}
                        %li.nav-item
                          %a.nav-link.active{"data-toggle" => "tab", :href => "#home"} Home
                        %li.nav-item
                          %a.nav-link{"data-toggle" => "tab", :href => "#updates"} Updates
                        %li.nav-item
                          %a.nav-link{"data-toggle" => "tab", :href => "#history"} History
                .card-body
                  .tab-content.text-center
                    #home.tab-pane.active
                      %p I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.
                    #updates.tab-pane
                      %p I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                    #history.tab-pane
                      %p I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
              / End Tabs on plain Card
    / end nav tabs
    .section.section-white
      .container
        / nav pills
        #navigation-pills
          .title
            %h3 Navigation Pills
          .title
            %h3
              %small With Icons
          .row
            .col-lg-6.col-md-8
              %ul.nav.nav-pills.nav-pills-icons{:role => "tablist"}
                /
                  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#dashboard-1", :role => "tab"}
                    %i.material-icons dashboard
                    Dashboard
                %li.nav-item
                  %a.nav-link.active{"data-toggle" => "tab", :href => "#schedule-1", :role => "tab"}
                    %i.material-icons schedule
                    Schedule
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#tasks-1", :role => "tab"}
                    %i.material-icons list
                    Tasks
              .tab-content.tab-space
                #dashboard-1.tab-pane.active
                  Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                  %br/
                  %br/
                  Dramatically visualize customer directed convergence without revolutionary ROI.
                #schedule-1.tab-pane
                  Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                  %br/
                  = succeed "Dramatically" do
                    %br/
                #tasks-1.tab-pane
                  Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                  %br/
                  = succeed "Dynamically" do
                    %br/
            .col-lg-6.col-md-12
              .row
                .col-md-3
                  %ul.nav.nav-pills.nav-pills-icons.flex-column{:role => "tablist"}
                    /
                      color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                    %li.nav-item
                      %a.nav-link.active{"data-toggle" => "tab", :href => "#dashboard-2", :role => "tab"}
                        %i.material-icons dashboard
                        Dashboard
                    %li.nav-item
                      %a.nav-link{"data-toggle" => "tab", :href => "#schedule-2", :role => "tab"}
                        %i.material-icons schedule
                        Schedule
                .col-md-8
                  .tab-content
                    #dashboard-2.tab-pane.active
                      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                      %br/
                      %br/
                      Dramatically visualize customer directed convergence without revolutionary ROI.
                    #schedule-2.tab-pane
                      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                      %br/
                      = succeed "Dramatically" do
                        %br/
        / end nav pills
    / notifications
    #notifications.section.cd-section.section-notifications
      .container
        .title
          %h3 Notifications
      .alert.alert-info
        .container
          .alert-icon
            %i.material-icons info_outline
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"}
              %i.material-icons clear
          %b Info alert:
          You've got some friends nearby, stop looking at your phone and find them...
      .alert.alert-success
        .container
          .alert-icon
            %i.material-icons check
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"}
              %i.material-icons clear
          %b Success Alert:
          Yuhuuu! You've got your $11.99 album from The Weeknd
      .alert.alert-warning
        .container
          .alert-icon
            %i.material-icons warning
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"}
              %i.material-icons clear
          %b Warning Alert:
          Hey, it looks like you still have the "copyright © 2015" in your footer. Please update it!
      .alert.alert-danger
        .container
          .alert-icon
            %i.material-icons error_outline
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"}
              %i.material-icons clear
          %b Error Alert:
          Damn man! You screwed up the server this time. You should find a good excuse for your Boss...
      .clearfix
    / end notifications
    .section
      .container.tim-container
        / typography
        #typography.cd-section
          .title
            %h2 Typography
          .row
            .tim-typo
              %h1
                %span.tim-note> Header 1
                The Life of Material Kit
            .tim-typo
              %h2
                %span.tim-note> Header 2
                The Life of Material Kit
            .tim-typo
              %h3
                %span.tim-note> Header 3
                The Life of Material Kit
            .tim-typo
              %h4
                %span.tim-note> Header 4
                The Life of Material Kit
            .tim-typo
              %h5
                %span.tim-note> Header 5
                The Life of Material Kit
            .tim-typo
              %h6
                %span.tim-note> Header 6
                The Life of Material Kit
            .tim-typo
              %h1.title
                %span.tim-note> Header 1 Title
                The Life of Material Kit
            .tim-typo
              %h2.title
                %span.tim-note> Header 2 Title
                The Life of Material Kit
            .tim-typo
              %h3.title
                %span.tim-note> Header 3 Title
                The Life of Material Kit
            .tim-typo
              %h4.title
                %span.tim-note> Header 4 Title
                The Life of Material Kit
            .tim-typo
              %p
                %span.tim-note Paragraph
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
            .tim-typo
              %span.tim-note Quote
              .blockquote.undefined
                %p
                  I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                %small
                  Kanye West, Musician
            .tim-typo
              %span.tim-note Muted Text
              %p.text-muted
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Primary Text
              %p.text-primary
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Info Text
              %p.text-info
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Success Text
              %p.text-success
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Warning Text
              %p.text-warning
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Danger Text
              %p.text-danger
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %h2
                %span.tim-note Small Tag
                Header with small subtitle
                %br/
                %small Use "small" tag for the headers
        / end typography
        .space-50
        / images
        #images
          .title
            %h2 Images
          %br/
          .row
            .col-sm-2
              %h4 Rounded Image
              %img.rounded.img-fluid{:alt => "Rounded Image", :src => ""}/
            .col-sm-2.ml-auto
              %h4 Circle Image
              %img.rounded-circle.img-fluid{:alt => "Circle Image", :src => ""}/
            .col-sm-2.ml-auto
              %h4 Rounded Raised
              %img.img-raised.rounded.img-fluid{:alt => "Raised Image", :src => ""}/
            .col-sm-2.ml-auto
              %h4 Circle Raised
              %img.img-raised.rounded-circle.img-fluid{:alt => "Thumbnail Image", :src => ""}/
          .row
        / end images
        .space-50
    #javascriptComponents.section.cd-section
      .container
        .title
          %h2 Javascript components
        / modals
        #modals.row
          .col-md-6
            .title
              %h3 Modal
            .row
              .col-lg-4.col-md-6
                %button.btn.btn-block.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal"}
                  %i.material-icons library_books
                  Classic
            .col-md-12
              .title
                %h3 Datetime Picker
              .row
                .col-md-6
                  .form-group
                    %label.label-control Datetime Picker
                    %input.form-control.datetimepicker{:type => "text", :value => "10/05/2016"}/
          .col-md-6
            .title
              %h3 Popovers
            %button.btn{"data-container" => "body", "data-content" => "Here will be some very useful information about his popover. Here will be some very useful information about his popover.", "data-placement" => "left", "data-toggle" => "popover", :title => "Popover on left", :type => "button"} On left
            %button.btn{"data-container" => "body", "data-content" => "Here will be some very useful information about his popover.", "data-placement" => "top", "data-toggle" => "popover", :title => "Popover on top", :type => "button"} On top
            %button.btn{"data-container" => "body", "data-content" => "Here will be some very useful information about his popover.", "data-placement" => "bottom", "data-toggle" => "popover", :title => "Popover on bottom", :type => "button"} On bottom
            %button.btn{"data-container" => "body", "data-content" => "Here will be some very useful information about his popover.", "data-placement" => "right", "data-toggle" => "popover", :title => "Popover on right", :type => "button"} On right
            %br/
            %br/
            .title
              %h3 Tooltips
            %button.btn{"data-container" => "body", "data-placement" => "left", "data-toggle" => "tooltip", :title => "Tooltip on left", :type => "button"} On left
            %button.btn{"data-container" => "body", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Tooltip on top", :type => "button"} On top
            %button.btn{"data-container" => "body", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Tooltip on bottom", :type => "button"} On bottom
            %button.btn{"data-container" => "body", "data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button"} On right
        / end modals
        .title
          %h3 Carousel
    / carousel
    #carousel.section
      .container
        .row
          .col-md-8.mr-auto.ml-auto
            / Carousel Card
            .card.card-raised.card-carousel
              #carouselExampleIndicators.carousel.slide{"data-interval" => "3000", "data-ride" => "carousel"}
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
                  %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
                  %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
                .carousel-inner
                  .carousel-item.active
                    -# %img.d-block.w-100{:alt => "First slide", :src => "#{asset_pack_path 'bg2.jpg'}"}/
                    .carousel-caption.d-none.d-md-block
                      %h4
                        %i.material-icons location_on
                        Yellowstone National Park, United States
                  .carousel-item
                    -# %img.d-block.w-100{:alt => "Second slide", :src => "bg3.jpg"}/
                    .carousel-caption.d-none.d-md-block
                      %h4
                        %i.material-icons location_on
                        Somewhere Beyond, United States
                  .carousel-item
                    -# %img.d-block.w-100{:alt => "Third slide", :src => "bg.jpg"}/
                    .carousel-caption.d-none.d-md-block
                      %h4
                        %i.material-icons location_on
                        Yellowstone National Park, United States
                %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
                  %i.material-icons keyboard_arrow_left
                  %span.sr-only Previous
                %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
                  %i.material-icons keyboard_arrow_right
                  %span.sr-only Next
            / End Carousel Card
    / end carousel
    .section
      .container.text-center
        .row
          .col-md-8.mx-auto.text-center
            %h2 Completed with examples
            %h4 The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.
    .section.section-signup.page-header
      .container
        .row
          .col-lg-4.col-md-6.mx-auto
            .card.card-login
              %form.form
                .card-header.card-header-primary.text-center
                  %h4.card-title Login
                  .social-line
                    %a.btn.btn-just-icon.btn-link{:href => "javascript:;"}
                      %i.fa.fa-facebook-square
                    %a.btn.btn-just-icon.btn-link{:href => "javascript:;"}
                      %i.fa.fa-twitter
                    %a.btn.btn-just-icon.btn-link{:href => "javascript:;"}
                      %i.fa.fa-google-plus
                %p.description.text-center Or Be Classical
                .card-body
                  .input-group
                    .input-group-prepend
                      %span.input-group-text
                        %i.material-icons face
                    %input.form-control{:placeholder => "First Name", :type => "text"}/
                  .input-group
                    .input-group-prepend
                      %span.input-group-text
                        %i.material-icons mail
                    %input.form-control{:placeholder => "Email", :type => "email"}/
                  .input-group
                    .input-group-prepend
                      %span.input-group-text
                        %i.material-icons lock_outline
                    %input.form-control{:autocomplete => "", :placeholder => "Password", :type => "password"}/
                .footer.text-center
                  %a.btn.btn-primary.btn-link.btn-wd.btn-lg{:href => "javascript:;"} Get Started
    .col-md-12.text-center
      %a.btn.btn-link.btn-primary.btn-lg{:href => "examples/login-page.html", :target => "_blank"} View Login Page
    .section.section-examples
      .container-fluid.text-center
        .row
          .col-md-6
            %a{:href => "examples/landing-page.html", :target => "_blank"}
              %img.img-raised.rounded.img-fluid{:alt => "Rounded Image", :src => "#{asset_pack_path('landing.jpg')}"}/
              %button.btn.btn-link.btn-primary.btn-lg View Landing Page
          .col-md-6
            %a{:href => "examples/profile-page.html", :target => "_blank"}
              = asset_pack_path "profile.jpg", class: "img-raised rounded img-fluid", :alt => "Rounded Image"
              %button.btn.btn-link.btn-primary.btn-lg View Profile Page
    #downloadSection.section.section-download
      .container
        .row.text-center
          .col-md-8.mx-auto
            %h2 Do you love this UI Kit?
            %h4
              Cause if you do, it can be yours for FREE. Hit the buttons below to navigate to our website where you can find the kit. Our friends from
              %a{:href => "https://themeisle.com/?utm_campaign=mkfree-hestia&utm_source=creativetim&utm_medium=website", :rel => "nofollow", :target => "_blank"} ThemeIsle
              created a Wordpress Theme which can be also downloaded for free. Start a new project or give an old Bootstrap project a new look!
          .col-sm-8.col-md-6.mx-auto
            %a.btn.btn-primary.btn-lg{:href => "https://www.creative-tim.com/product/material-kit"}
              %i.fa.fa-html5
              Free HTML Download
            %a.btn.btn-primary.btn-lg{:href => "https://themeisle.com/themes/hestia/?utm_campaign=mkfree-hestia&utm_source=creativetim&utm_medium=website", :rel => "nofollow", :target => "_blank"}
              %i.fa.fa-wordpress
              Wordpress Theme
        %br/
        %br/
        .row.text-center
          .col-md-8.mx-auto
            %h2 Want more?
            %h4
              We've just launched
              = succeed "." do
                %a{:href => "https://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-mk-demos", :target => "_blank"} Material Kit PRO
          .col-sm-8.col-md-5.mx-auto
            %a.btn.btn-rose.btn-upgrade.btn-lg{:href => "https://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-mk-demos", :target => "_blank"}
              %i.material-icons unarchive
              Upgrade to PRO
        .sharing-area.text-center
          .row.justify-content-center
            %h3 Thank you for supporting us!
          %a#twitter.btn.btn-raised.btn-twitter{:href => "https://twitter.com/CreativeTim", :rel => "nofollow"}
            %i.fa.fa-twitter
            Tweet
          %a#facebook.btn.btn-raised.btn-facebook{:href => "https://www.facebook.com/CreativeTim", :rel => "nofollow"}
            %i.fa.fa-facebook-square
            Facebook
          %a#instagram.btn.btn-raised.btn-instagram{:href => "https://www.instagram.com/CreativeTimOfficial", :rel => "nofollow"}
            %i.fa.fa-instagram
            Instagram
          %a#github.btn.btn-raised.btn-github{:href => "https://github.com/creativetimofficial/material-kit", :rel => "nofollow", :target => "_blank"}
            %i.fa.fa-github
            Star
  / Classic Modal
  #myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered{:role => "document"}
      .modal-content
        .modal-header
          %h5.modal-title Modal title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %i.material-icons clear
        .modal-body
          %p
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
        .modal-footer
          %button.btn.btn-link{:type => "button"} Nice Button
          %button.btn.btn-danger.btn-link{"data-dismiss" => "modal", :type => "button"} Close
  / End Modal
  %footer.footer{"data-background-color" => "black"}
    .container
      %nav.float-left
        %ul
          %li
            %a{:href => "https://www.creative-tim.com/"}
              Creative Tim
          %li
            %a{:href => "https://www.creative-tim.com/presentation"}
              About Us
          %li
            %a{:href => "https://www.creative-tim.com/blog"}
              Blog
          %li
            %a{:href => "https://www.creative-tim.com/license"}
              Licenses
      .copyright.float-right
        ©
        :javascript
          document.write(new Date().getFullYear())
        , made with
        %i.material-icons favorite
        by
        %a{:href => "https://www.creative-tim.com/", :target => "_blank"} Creative Tim
        for a better web.
  / Core JS Files
  // %script{:src => "./assets/js/core/jquery.min.js", :type => "text/javascript"}
  // %script{:src => "./assets/js/core/popper.min.js", :type => "text/javascript"}
  // %script{:src => "assets/js/core/bootstrap-material-design.min.js", :type => "text/javascript"}
  // %script{:src => "assets/js/plugins/moment.min.js"}
  / Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker
  // %script{:src => "assets/js/plugins/bootstrap-datetimepicker.js", :type => "text/javascript"}
  / Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
  // %script{:src => "assets/js/plugins/nouislider.min.js", :type => "text/javascript"}
  / Google Maps Plugin
  // %script{:src => "https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE", :type => "text/javascript"}
  / Place this tag in your head or just before your close body tag.
  %script{:async => "", :defer => "defer", :src => "https://buttons.github.io/buttons.js"}
  / Control Center for Material Kit: parallax effects, scripts for the example pages etc
  // %script{:src => "assets/js/material-kit.js?v=2.0.7", :type => "text/javascript"}
  %script{:src => ".", :type => "text/javascript"}

  :javascript
    $(document).ready(function() {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
